In [1]:
import pandas as pd
import requests

In [2]:
df = pd.read_csv("https://github.com/uva-bi-sdad/national_address_database/raw/main/data/VA_Arlington.csv.xz")
df

,state,county,zip,add_number,street_name,longitude,latitude,address
0,VA,Arlington,22201.0,1.0,Fenwick,-77.089851,38.873820,1 Fenwick VA 22201
1,VA,Arlington,22203.0,1.0,Glebe,-77.101126,38.871177,1 Glebe VA 22203
2,VA,Arlington,22203.0,1.0,Granada,-77.122787,38.866952,1 Granada VA 22203
3,VA,Arlington,22203.0,1.0,Madison,-77.132594,38.866696,1 Madison VA 22203
4,VA,Arlington,22203.0,1.0,Manchester,-77.133909,38.866673,1 Manchester VA 22203
...,...,...,...,...,...,...,...,...
43681,VA,Arlington,22204.0,2021.0,Kenmore,-77.086141,38.850972,2021 Kenmore VA 22204
43682,VA,Arlington,22205.0,5741.0,4Th,-77.129933,38.870417,5741 4Th VA 22205
43683,VA,Arlington,22205.0,5743.0,4Th,-77.130048,38.870387,5743 4Th VA 22205
43684,VA,Arlington,22209.0,1818.0,Fort Myer,-77.072629,38.895806,1818 Fort Myer VA 22209
43685,VA,Arlington,22207.0,4110.0,31St,-77.115376,38.912716,4110 31St VA 22207

In [6]:
pdf = df.sample(3)
pdf

,state,county,zip,add_number,street_name,longitude,latitude,address
8892,VA,Arlington,22201.0,210.0,Barton,-77.086340,38.877705,210 Barton VA 22201
10286,VA,Arlington,22205.0,2215.0,Somerset,-77.156666,38.889155,2215 Somerset VA 22205
26412,VA,Arlington,22206.0,4638.0,30Th,-77.096461,38.838695,4638 30Th VA 22206

In [12]:
pdf['response'] = pdf['address'].apply(lambda x: requests.get('https://geocoding.geo.census.gov/geocoder/locations/onelineaddress?address=%s&benchmark=2020&format=json' % x).json())

In [14]:
pdf['response']

8892     {'result': {'input': {'address': {'address': '...
10286    {'result': {'input': {'address': {'address': '...
26412    {'result': {'input': {'address': {'address': '...
Name: response, dtype: object

In [15]:
pdf['valid'] = pdf['response'].apply(lambda x: len(x['result']['addressMatches']) > 0)

In [16]:
pdf

,state,county,zip,add_number,street_name,longitude,latitude,address,valid,response
8892,VA,Arlington,22201.0,210.0,Barton,-77.086340,38.877705,210 Barton VA 22201,False,{'result': {'input': {'address': {'address': '...
10286,VA,Arlington,22205.0,2215.0,Somerset,-77.156666,38.889155,2215 Somerset VA 22205,False,{'result': {'input': {'address': {'address': '...
26412,VA,Arlington,22206.0,4638.0,30Th,-77.096461,38.838695,4638 30Th VA 22206,False,{'result': {'input': {'address': {'address': '...

In [18]:
formal_address = '210 N Barton St, Arlington, VA 22201'
r = requests.get('https://geocoding.geo.census.gov/geocoder/locations/onelineaddress?address=%s&benchmark=2020&format=json' % formal_address).json()
print(r)  
pr

{'result': {'input': {'address': {'address': '210 N Barton St, Arlington, VA 22201'}, 'benchmark': {'isDefault': False, 'benchmarkDescription': 'Public Address Ranges - Census 2020 Benchmark', 'id': '2020', 'benchmarkName': 'Public_AR_Census2020'}}, 'addressMatches': [{'tigerLine': {'side': 'L', 'tigerLineId': '76479213'}, 'coordinates': {'x': -77.08608052539722, 'y': 38.87763620769999}, 'addressComponents': {'zip': '22201', 'streetName': 'BARTON', 'preType': '', 'city': 'ARLINGTON', 'preDirection': 'N', 'suffixDirection': '', 'fromAddress': '200', 'state': 'VA', 'suffixType': 'ST', 'toAddress': '228', 'suffixQualifier': '', 'preQualifier': ''}, 'matchedAddress': '210 N BARTON ST, ARLINGTON, VA, 22201'}]}}